<button
  data-controller="navigation"
  data-action="click->navigation#goBack"
  data-navigation-human-id-value="<%= @human.id %>"
  class="mb-2 mt-4 material-symbols-outlined"
  type="button">
  chevron_left
</button>
