// STATES: Status Colors

.is-status--green {
  background-color: $green;
}

.is-status--yellow {
  background-color: $yellow;
}

.is-status--red {
  background-color: $red;
}

.is-status--gray {
  background-color: $gray;
  color: #383d41;
}


// Active state colors
